th, td{
  text-align: left;
  padding: 0px 10px;
}

.y {
  color: #d3d3d3;
}

.n {
  color: red;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes circle:hover {
  r: 10;
}
